* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #021128, #efefff, #021128);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.content {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.todo-card {
  width: 100%;
  max-width: 480px;
  min-width: 300px;
  height: 600px;
  padding: 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(18px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  color: white;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#todoList {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  overflow-y: auto;
  flex: 1;
}
.list-group-item {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
.list-group-item.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
.todo-actions i {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
}
.todo-actions i.edit-btn {
  color: #ffd633;
}
.todo-actions i.delete-btn {
  color: #ff4d4d;
}
.todo-text {
  flex: 1;
  margin-left: 10px;
}
.filters {
  gap: 10px;
  background: rgba(0, 0, 0, 0.25);
  padding: 8px;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.filter-btn {
  flex: 1;
  border: none;
  background: transparent;
  color: white;
  padding: 8px 0;
  border-radius: 10px;
  transition: 0.3s;
}
.filter-btn.active {
  background: rgba(255, 255, 255, 0.3);
}
